.about-project {
  //padding: 32px 0 0;
  margin-bottom: 30px;

  @media (min-width: $screen-xl) {
    //padding: 40px 0 0;
    margin-bottom: 90px;
  }

  $block-name:                &; // #{$block-name}__element

  &__intro {
    margin-bottom: 30px;

    @media (min-width: $screen-xl) {
      margin-bottom: 40px;
    }
  }

  &__intro-logo {
    @include col(xs, 12);
    @include col(md, 4);

    img {
      display: block;
      width: 100%;
      max-width: 435px;
    }
  }

  &__intro-text {
    @include col(xs, 12);
    @include col(md, 8);
    @include col(xl, 7);

    h1 {
      margin-top: 30px;

      @media (min-width: $screen-md) {
        margin-top: 0;
      }
    }

    div {
      height: 100%;

      @media (min-width: $screen-xl) {
        padding-right: 60px;
        border-bottom: 2px solid $main-color;
        border-right: 2px solid $main-color;
      }
    }
  }

  &__news {
    margin-bottom: 30px;

    @media (min-width: $screen-xl) {
      margin-bottom: 40px;
    }
  }

  &__content {
    margin-bottom: 20px;

    @media (min-width: $screen-xl) {
      margin-bottom: 30px;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__title-col {
    @include col(xs, 12);
    @include col(xl, 4);
  }

  &__text-col {
    @include col(xs, 12);
    @include col(xl, 7);
  }

  &__title {
    padding-top: 20px;
    margin-top: 0;
    border-top: 2px solid $main-color;
  }

  &__text {

    @media (min-width: $screen-xl) {
      padding-top: 20px;
    }
  }
}
