$line-height:                 1.375em !default;

$text-color:                  hsl(0, 0%, 10%) !default;

$border-color:                hsl(0, 0%, 60%) !default;

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
  margin-bottom: 60px;

  @media (min-width: $screen-md) {
    justify-content: flex-start;
  }

  @media (min-width: $screen-xl) {
    margin-top: 40px;
    margin-bottom: 90px;
  }

  $block-name:                &; // #{$block-name}__element

  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    //padding-left: 0;

    li + li {
      //margin-left: 13px;

      @media (min-width: $screen-md) {
        //margin-left: 15px;
      }
    }
  }

  &__item {
    margin: 0;

    &.active {

      a {
        color: $main-color;
        pointer-events: none;
      }
    }

    &--prev,
    &--next {

      #{$block-name}__link {
        background-size: 8px 14px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    &--prev {
      margin-right: 20px;

      #{$block-name}__link {
        background-image: svg-load('../blocks/sprite-svg/svg/arrow-left-icon.svg', fill=$text-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-left-icon.svg', fill=$white);
        }

        &--disabled {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-left-icon.svg', fill=$text-muted);
        }
      }
    }

    &--next {
      margin-left: 20px;

      #{$block-name}__link {
        background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$text-color);

        &:hover,
        &:focus {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$white);
        }

        &--disabled {
          background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$text-muted);
        }
      }
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    color: $text-muted;
    background-color: $white;
    transition: all 0.2s ease-out;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $white;
      background-color: $main-color;
    }

    &--disabled,
    &:disabled {
      background-color: $border-color;
      pointer-events: none;
    }
  }
}
