.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  padding: 10px 20px;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  font-family: inherit;
  line-height: 1;
  text-decoration: none;
  text-transform: none;
  color: $main-color;
  border-radius: $border-radius;
  border: 2px solid $main-color;
  background-color: $white;
  background-image: none;
  cursor: pointer;
  transition: all 0.2s ease-out;

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $main-color;
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    cursor: not-allowed;
    color: $main-color;
    background-color: rgba(223, 112, 30, 0.35);
    border-color: rgba(223, 112, 30, 0.05);

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  // &__icon {
  //   display: inline-block;
  //   vertical-align: middle;
  // }


  &--link {
    padding-left: 5px;
    padding-right: 48px;
    color: $text-color !important;
    border: none;
    background-size: 8px 14px;
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$text-color);

    &:hover,
    &:focus {
      color: $main-color !important;
      background-color: $white;
      background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$main-color);
    }

    &--disabled,
    &:disabled {
      color: $main-color !important;
      background-color: $white;
      background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$main-color);
      opacity: 0.5;
      cursor: not-allowed;

      @at-root a.btn--link--disabled {
      pointer-events: none;
    }
    }
  }
}
