.metismenu {
  padding-left: 0;
  margin: 0;
  list-style: none;

  & > li + li {
      margin-top: 0;
    }

  $block-name:                &; // #{$block-name}__element

  a {
    white-space: nowrap;
    user-select: none;
    font-weight: 500;
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .arrow {
    float: right;
    line-height: 1.5;
  }

  .mm-collapse:not(.mm-show) {
    display: none;
  }

  .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    transition-timing-function: ease;
    transition-duration: .2s;
    transition-property: height, visibility;
  }

  .has-arrow {
    position: relative;
  }

  .has-arrow::after {
    position: absolute;
    content: '';
    width: 8px;
    height: 14px;
    background-image: svg-load('../blocks/sprite-svg/svg/arrow-right-icon.svg', fill=$title-color);
    background-repeat: no-repeat;
    background-size: 8px 14px;
    background-position: center;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transform-origin: center;
    transition: all .2s ease-out;
  }

  .mm-active {

    & > a {
      color: $main-color;
    }
  }

  .mm-active > .has-arrow::after,
  .has-arrow[aria-expanded="true"]::after {
    width: 14px;
    height: 8px;
    background-image: svg-load('../blocks/sprite-svg/svg/arrow-down-icon.svg', fill=$main-color);
    background-size: 14px 8px;
  }
}

.sidebar-nav {
  position: relative;

  &::before {
    display: block;
    content: "";
    position: absolute;
    top: -34px;
    left: -20px;
    right: -20px;
    height: 2px;
    background-color: $border-color;
  }

  .metismenu > li {

    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  a {
    display: block;
    padding: 10px 0;
    color: $text-color;
  }
}


.topbar-nav {
  background: $white;
}

.topbar-nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  background: $white;
}

.topbar-nav .metismenu {
  display: flex;
  flex-direction: row;
}

.topbar-nav .metismenu > li {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.topbar-nav .metismenu > li > ul {
  position: absolute;
  top: 100%;
  min-width: 100%;
  z-index: 1001;
  padding: 10px 0;
  border-left: 2px solid $main-color;
  border-right: 2px solid $border-color;
  border-top: 2px solid $border-color;
  border-bottom: 2px solid $border-color;
}

.topbar-nav .metismenu a {
  position: relative;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  color: $text-color;
  outline-width: 0;
  text-decoration: none;
  transition: all .2s ease-out;
}

.topbar-nav .metismenu a:hover,
.topbar-nav .metismenu a:focus,
.topbar-nav .metismenu a:active {
  color: $main-color;
  text-decoration: none;
  //background: #0b7285;
}

.topbar-nav .has-arrow::after {
  width: 14px;
  height: 8px;
  transform: translateY(-3px);
  background-size: 14px 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: svg-load('../blocks/sprite-svg/svg/arrow-down-icon.svg', fill=$title-color);
}

.topbar-nav.is-hoverable .metismenu > li > ul {
  height: auto !important;
}

.topbar-nav.is-hoverable .metismenu > li:hover > ul {
  display: block;
}

.topbar-nav.is-hoverable .metismenu > li:hover > a.has-arrow::after {
  transform: rotate(-180deg) translateY(3px);
  background-image: svg-load('../blocks/sprite-svg/svg/arrow-down-icon.svg', fill=$main-color);
}
