.event-gallery {
  padding-top: 30px;
  margin-bottom: 60px;
  border-top: 2px solid $border-color;

  @media (min-width: $screen-xl) {
    padding-top: 40px;
    margin-bottom: 90px;
  }

  $block-name:                &; // #{$block-name}__element

  &__col {
    @include col(xs, 12);
    @include col(md, 6);
    @include col(xl, 4);
    margin-bottom: 24px;
  }

  &__title {
    margin-top: 0;
  }
}
