.copyrights {
  padding: 15px 0;
  font-size: 14px;
  font-weight: 500;
  color: $white;

  @media (min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  $block-name:                &; // #{$block-name}__element

  &__text {

    @media (min-width: $screen-md) {
      margin-right: 24px;
    }

    span {
      display: inline-block;
      vertical-align: baseline;
      margin-right: 10px;
      margin-bottom: 15px;
      white-space: nowrap;

      @media (min-width: $screen-md) {
        margin-bottom: 0;
      }
    }

    a {
      text-decoration: none;
      white-space: nowrap;
      transition: all 0.2s ease-out;

      &:hover,
      &:focus {
        text-decoration: underline;
        color: $white;
      }
    }
  }

  &__dev {
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    img {
      opacity: 0.65;
    }

    span {
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      text-decoration: underline;
      color: $white;

      img {
        opacity: 1;
      }
    }
  }
}
